@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LANPP</h1>
    <p class="lead">Local Area Network Party Planner</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Project Plan</h2>
        <p>
            <ul>
                <li>Create: GitHub, Project Solution with user Authentication</li>
                <li>Start "make pretty" ie. not out of the box look</li>
                <li>Create ERD, models, Entity framework</li>
                <li>Customize forms</li>
                <li>Add to seed method for persistent data</li>
                <li>Create Admin and User accounts and set permissions</li>
                <li>Improve UI</li>
                <li>Fix Navigation &#47 URL rewritting</li>
                <li> Finsih "make pretty"</li>
            </ul>
        </p>

    </div>
</div>