body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #17221E;
    color: #1Fa06C;
}
.strawpoll {
    flex-grow: 1;
    border: 1px solid red;
}
.navbar navbar-inverse navbar-fixed-top {
    background-color: #17221E;
    color: #1Fa06C;
}

.nav navbar-nav {
    background-color: #17221E;
    color: #1Fa06C;
}

a:hover {
    background-color: #09D482;
}

p {
    color: grey;
}

.jumbotron {
   background-color: #2A7959;
   color: #284D3E;
   display: flex;
   flex-direction:row;
}
.logo {
    flex-grow: 2;
    align-self: flex-start
}
/*.container {
    background-color: #2A7959;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}*/

/*****************************************************************/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
